{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>SciELO</title>
  </head>
  <body>
    {% include 'base/header.html' %}

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
