{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div id="header" class="row">
            <div class="mx-auto p-5">
                {% include 'file_form.html' %}
            </div>
        </div>
        {% if form.is_valid %}
        <div id="result" class="row pt-5">
            <div class="col">
                <div id="accordion">
                {% for items in menu %}
                      {% for message, errors in items.items %}
                          {% include 'result_errors.html' with message=message errors=errors %}
                      {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
    $(function () {
        $("#customFile").change(function () {
          var filename = $(this).val();
          var fieldlabel = $(this).next('.custom-file-label');
          fieldlabel.html(filename.replace("C:\\fakepath\\", ""));
        });
    });
    </script>
{% endblock %}
