{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div id="header" class="row">
            <div class="mx-auto p-5">
                <form enctype="multipart/form-data" method="post" action="{% url 'stylechecker:xml-validator' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" value="{{ form.file }}">
                            <label class="custom-file-label" for="customFile">Selecione o arquivo XML</label>
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Validar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if form.is_valid %}
        <div id="result" class="row pt-5">
            <div class="col-md-2">
                <nav class="flex-column nav-pills">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                </nav>
                {{ errors }}
            </div>
            <div class="col-md-10">
                {{ result }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
    $(function () {
        $("#customFile").change(function () {
          var filename = $(this).val();
          var fieldlabel = $(this).next('.custom-file-label');
          fieldlabel.html(filename.replace("C:\\fakepath\\", ""));
        });
    });
    </script>
{% endblock %}
